.search__btn {
  position: absolute;
  top: 0;
  right: 10px;
}
.search__form {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.pagination {
  position: absolute;
  width: 100%;
  bottom: 20px;
  display: flex;
  justify-content: space-between;
  list-style: none;
  cursor: pointer;
}

.pagination a {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2196f3 !important;
  color: #2196f3 !important;
}

.pagination__link {
  font-weight: bold;
}

.pagination__link--active a {
  color: #fff !important;
  background: #2196f3;
}

.pagination__link--disabled a {
  color: rgb(198, 197, 202) !important;
  border: 1px solid rgb(198, 197, 202) !important;
}
